.collectionOuterContainer {
  margin: 0 99px;
  display: flex;
}
@media all and (max-width: 389px) {
  .collectionOuterContainer {
    margin: 0 10px;
  }
}
.inner-collection-container {
  margin: 0 99px !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}
@media all and (max-width: 1455px) {
  .inner-collection-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 1100px) {
  .inner-collection-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 724px) {
  .inner-collection-container {
    grid-template-columns: 1fr;
  }
}
.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #ffffff !important;
  background-color: black !important;
  border-radius: 0 !important;
  margin: 0 10px !important;
}
.css-19micn4-MuiButtonBase-root-MuiPaginationItem-root {
  margin: 0 10px !important;
}
.collectionHeaderText {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin: 30px 0 18px 99px;
}
@media all and (max-width: 389px) {
  .collectionHeaderText {
    margin: 30px 0 8px 10px;
  }
}
@media all and (max-width: 389px) {
  #pag {
    margin-right: 40px;
  }
  .css-19micn4-MuiButtonBase-root-MuiPaginationItem-root {
    margin: 0 3px !important;
  }
}
