.parentDiv {
  width: 96%;
  background-color: #ffffff;
  padding: 16px 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.HelpOuterContainer {
  display: flex;
  background-color: #ffffff;
  padding: 0 99px;
}
.help-container {
  padding: 0 99px;
  display: flex;
  justify-content: flex-start;
  margin-top: 11px;
}
.help-right-side {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 100%;
  align-items: flex-start;
}
.help-img {
  width: 500px;
  height: 500px;
}
@media all and (max-width: 1027px) {
  .help-right-side {
    margin-left: 10px;
  }
}
@media all and (max-width: 992px) {
  .help-img {
    width: 400px;
    height: 400px;
  }
  .help-container {
    align-items: center;
  }
}
@media all and (max-width: 899px) {
  .help-container {
    flex-direction: column;
    margin-top: 24px;
  }
  .help-right-side {
    margin-left: 0;
    margin-top: 24px;
  }
}
@media all and (max-width: 605px) {
  .HelpOuterContainer {
    padding: 0 20px;
  }
  .help-container {
    padding: 0 20px;
  }
}
@media all and (max-width: 507px) {
  .parentDiv {
    width: 93.5%;
  }
}
@media all and (max-width: 437px) {
  .help-img {
    width: 300px;
    height: 300px;
  }
}
@media all and (max-width: 344px) {
  .parentDiv {
    width: 92.5%;
  }
}
.question {
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  line-height: 20px;
  color: #393939;
  order: 0;
  flex-grow: 0;
  cursor: pointer !important;
}
.answer {
  text-align: start;
  margin-top: 10px;
  line-height: 160%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #354455;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
