@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
.navbar-container {
  background: #ffffff !important;
  height: 153px !important;
  box-shadow: none !important;
  border-bottom: 1px solid #e9e9e9 !important;
}
@media all and (max-width: 899px) {
  .navbar-container {
    height: 64px !important;
  }
}
.searchForm {
  display: flex;
  align-items: center;
}
.closeMyDialog {
  position: absolute;
  left: 92%;
  top: 5%;
  cursor: pointer;
}
.formdialog {
  color: #f8f8f8;
  display: flex;
  padding: 2px;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  width: 100%;
  height: 44px;
  margin-top: 12px;
  background-color: #f8f8f8;
}
@media all and (max-width: 899px) {
  .formdialog {
    height: 40px;
  }
}
.navbarinput {
  border: 1px solid #e9e9e9 !important;
  margin-left: 34px;
  width: 100%;
  height: 44px;
  padding: 7px 8px 7px 20px;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none !important;
}
.povashemu {
  font-size: 16px;
  color: #393939;
  margin-top: 16px;
  text-align: start;
}
@media all and (max-width: 500px) {
  .povashemu {
    font-size: 13px;
  }
}
.float-input1 {
  border: none;
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  position: relative;
  z-index: 1;
}
.closeMyDialog {
  position: absolute;
  left: 92%;
  top: 5%;
  cursor: pointer;
}

#mobile-dialog {
  display: none;
}
@media all and (max-width: 899px) {
  #desktop-dialog {
    display: none !important;
  }
  #mobile-dialog {
    display: block;
  }
}
.secondpart {
  margin-top: 20px !important;
}
@media all and (max-width: 899px) {
  .float-input1 {
    height: 40px;
  }
  .closeMyDialog {
    width: 12px;
    height: 12px;
  }
}
input[type="search"]::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bebebe;
}
input[type="number"]::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bebebe;
}
@media all and (max-width: 899px) {
  input[type="search"]::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #bebebe;
  }
  input[type="number"]::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #bebebe;
  }
}
.floatmenuSizeChange {
  position: fixed;
  top: 84.5%;
  left: 82%;
  z-index: 3;
}
@media all and (max-width: 1350px) {
  .floatmenuSizeChange {
    left: 75%;
  }
}
@media all and (max-width: 1150px) {
  .floatmenuSizeChange {
    left: 73%;
  }
}
@media all and (max-width: 1006px) {
  .floatmenuSizeChange {
    left: 71%;
  }
}
.searchHint {
  width: 101%;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0%;
  color: black;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  cursor: pointer;
}
.searchhints:hover {
  background-color: #f1f1f1;
}
.sear {
  max-height: 265px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 45px 11px 6px 24px;
  /* margin: 48px 0 6px 0; */
}
.searchhints {
  padding: 16px 0;
  /* padding: 16px 11px 16px 24px; */
  border-bottom: 1px solid #e9e9e9;
  text-align: start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1d1d1b;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.sear::-webkit-scrollbar {
  width: 3px !important;
  background-color: #eeeeee !important;
  padding: 58px 0 18px 0 !important;
}
.sear::-webkit-scrollbar-thumb {
  width: 3px !important;
  height: 45px !important;
  background: #979797 !important;
  opacity: 0.6 !important;
  border-radius: 4px !important;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.mobilenavbar {
  position: relative;
}
.mobilesearch {
  position: absolute;
  top: 110%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
}
.mobsearchinput {
  width: 100%;
  margin: 0 !important;
  background-color: #f8f8f8 !important;
  height: 44px;
  border: none;
  padding-left: 10px;
  border: 1px solid #e0e0e0;
}
.hintSpans {
  padding: 14px 0 14px 0;
  border-bottom: 1px solid #d3d3d3;
  margin: 0 20px;
  text-align: start;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1d1d1b;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.searchloopdes {
  position: absolute;
  z-index: 11;
  left: 96%;
  top: 30%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
@media all and (max-width: 1284px) {
  .searchloopdes {
    left: 94%;
  }
}
@media all and (max-width: 1145px) {
  .searchloopdes {
    left: 92%;
  }
}
@media all and (max-width: 1019px) {
  .searchloopdes {
    left: 89%;
  }
}
.mobilesearchhints {
  width: 89.5% !important;
  position: absolute;
  left: 5.3% !important;
  display: flex;
  flex-direction: column;
  color: #1d1d1b;
  top: 181%;
  max-height: 300px;
  background-color: #ffffff;
  z-index: 1;
  /* border: 1px solid #d3d3d3; */
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.04);
  border-radius: 0 0 4px 4px;
  overflow: auto;
}
.searchLoop {
  position: absolute;
  z-index: 11;
  left: 96%;
  top: 30%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
@media all and (max-width: 643px) {
  .searchLoop {
    left: 94%;
  }
}
@media all and (max-width: 481px) {
  .searchLoop {
    left: 91%;
  }
}
@media all and (max-width: 321px) {
  .searchLoop {
    left: 89%;
  }
}
@media all and (min-width: 899px) {
  .mobilesearch {
    display: none;
  }
  .mobilesearchhints {
    display: none;
  }
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  border: 1px solid #e0e0e0 !important;
  padding: 20px 10px !important;
}
#float-input2 {
  background-color: #f8f8f8 !important;
}
