.App {
  text-align: center;
}
.MuiPaper-rounded {
  border-radius: 0 !important;
  border: none !important;
}
.cardparent {
  width: 320px;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 340px) {
  /* .imageon320 {
    width: 295px !important;
  } */
  .cardparent {
    width: 295px;
  }
}
body {
  /* background-color: #ececec; */
  background-color: #f2f2f2;
}

#colordots {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 8px;
  cursor: pointer;
  opacity: 0.47;
}
.colordots {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 8px;
  cursor: pointer;
  opacity: 0.47;
}
#colordots:hover,
#colordots:focus {
  outline: 4px solid #ccc;
  background-color: #999;
}
.dotsactive {
  outline: 4px solid #ccc;
  background-color: #999;
}
input {
  outline: none;
}
